.vscode/
.env
.env.local
venv/ 
env/
__pycache__/
*.pyc
*.csv
*.db
*.sqlite3
*.log
logs/
*.pkl
*.h5
*joblib
requrements.txt
.venv/
*.html
*.png
2_model/xai/lime_explanations/
2_model/xai/shap_explanations/